[2019-01-15 10:07] gianiaz opened #483 "CommandTester getDisplay has not output from monolog"
### Preconditions
Updated from 2.0.0-alpha8 to 2.0.0-alpha12 (it was present in 2.0.0-alpha10).

### Steps to reproduce

In a symfony 3.4 application I'm testing  a command that receives a LoggerInterface with DI (it is a monolog logger handler with type console - https://symfony.com/doc/current/logging/monolog_console.html).
Via Monolog Bridge logs are sent to OutputInterface.

Handler is configu

[2019-01-15 13:35] gianiaz commented on #483
After some debug, it seems that the consoleHandler has $output setted to null instead of `\Symfony\Component\Console\Output\StreamOutput` with this version.

[2019-01-16 11:09] leksinteractive opened #485 "Specifying an entity manager when using the loadFixtures method"
**Is your feature request related to a problem? Please describe.**
Hi team, I have two different bundles in my app and each one has their own entity manager. I am writing an integration test for a service in one of the bundles, but I need to load a fixture class from the second bundle. Is this currently possible?

**Describe alternatives you've considered**
I tried passing in the name of the entit

[2019-01-16 11:55] lukepass opened #487 "WebTestCase::loginAs() not working"
Hello, I followed the guide to authenticate using `WebTestCase::loginAs()` but it's not working and it's redirecting me to the login page.

This is my config_test.yml:
[code]

And this is the test:
[code]

And this is the log:
[code]

### Preconditions

1. Symfony 3.4
2. PHP v7.2
3. Liip v2.0.0-alpha12

### Steps to reproduce
See above.

### Expected result
See above.

### Actual result

See above

[2019-01-16 14:30] alexislefebvre commented on #485
You can use 3rd and 4th parameters of `loadFixtures` for this: https://github.com/liip/LiipFunctionalTestBundle/blob/57f2b4054e86aace108cff2d9e9b7c417884ccf8/src/Test/WebTestCase.php#L250

I thought that it was documented but it looks like it's not.

[2019-01-16 14:41] lpassini-mz opened #488 "Use cache_db with paratest or fastest?"
Is it possible to do it? I tried without adding the path to the sqlite database but it didn't work as expected:

[code]

Maybe it's related to my other issue about cache_db and memory filesystem?

Thanks.

[2019-01-16 15:23] lpassini-mz commented on #488
Nevermind I got it working with fastest:

[code]

With this command:
`find tests -name "*Test.php" | ./vendor/liuggio/fastest/fastest "./vendor/bin/simple-phpunit {};"`

---

Paratest has the following problems:
1) compatibility error
[code]

2) The paratest:run doesn't run in test env, I had to specify it and it just generates a bunch of db without running the suite:
[code]

[2019-01-17 00:20] leksinteractive commented on #485
Thanks for the quick feedback.

This is the way I'm currently trying with those parameters, and with the orm config above:

`$this->loadFixtures([SomeEntityFixtures::class], false, 'shared');`

The message I get is:
`InvalidArgumentException: Doctrine ORM Connection named "shared" does not exist.`

Am I doing something obviously wrong here?

[2019-01-17 09:52] alexislefebvre commented on #485
Can you please try with `shared_database` instead of `shared`?

[2019-01-18 04:50] leksinteractive commented on #485
So if I do that I get this, slightly different message:

`InvalidArgumentException: Doctrine ORM Manager named "shared_database" does not exist`

Thanks.

[2019-01-18 10:49] alexislefebvre commented on #485
Did you change the order of the parameters? You have `InvalidArgumentException: Doctrine ORM **Connection** named` instead of `InvalidArgumentException: Doctrine ORM **Manager** named`. This is strange.

[2019-01-18 11:16] pawel-winiecki opened #490 "Performance problem with container.dumper.inline_class_loader"
I'v just migrated a project from Symfony 3.4 to 4.2. My test suite executed 5-6x longer. After investigation I discovered that parameter `container.dumper.inline_class_loader` with value `true` is the reason.

It's now a part of Flex recipe for FrameworkBundle: https://github.com/symfony/recipes/blob/master/symfony/framework-bundle/4.2/src/Kernel.php#L31

I think that it's worth consider to add in

[2019-01-18 11:41] leksinteractive commented on #485
No, I definitely didn't switch parameters - just changed the third parameter from 'shared' to 'shared_database'. I am not passing the 4th param as it defaults to 'doctrine' anyways. I agree the messages look strange, which is what threw me off initially (and prompted me to seek help here)

[2019-01-18 14:18] alexislefebvre commented on #490
I'm sorry but I don't understand, can you please explain the link between `container.dumper.inline_class_loader` and this bundle? . What would you want to be in the documentation?

[2019-01-22 23:07] alexislefebvre commented on #485
Your code looks valid. We need a test with several `entity_managers`, it would also fix issue #470 that use several entity managers too.

[2019-01-25 14:36] truckee commented on #490
I'm subscribing to this issue as I'm observing similar results in substantially longer test times between 3.4 & 4.2. Test logs show far more entries with far more time spent in doctrine:debug entries.

[2019-03-02 19:14] alexislefebvre commented on #273
Please test the last version: https://github.com/liip/LiipFunctionalTestBundle/releases/tag/2.0.0-alpha14

It contains #491 and should fix the issue.

[2019-03-02 19:47] #480 closed

[2019-03-06 12:32] sirroman opened #495 "annotation "@group" in method was never imported"
liip does not know @group annotation after update to 2.0.0-alpha14
[code]
### Preconditions

PHP 7.2.12
PHPUnit 7.5.6

### Steps to reproduce

1. install fresh symfony
[code]
2. write simple test
[code]
3. run test
[code]
you just clone repostitory https://github.com/sirroman/liip2.0.0-alpha14-error

### Actual result

1. [Screenshot, logs]

[code]

[2019-03-06 20:50] Jean85 opened #496 "[3.x] Splitting into a separate TestCase lib?"
I started a Twitter thread with @lsmith77 today, because I wanted to fork this repo to extract the only piece of this bundle that I use: the `WebTestCase`: https://twitter.com/AlessandroLai/status/1103262252411555840

The resulting fork is here: https://github.com/facile-it/symfony-functional-testcase

Lukas later suggested to do the fork "in-house", under the Liip org, so it would be a refactorin

[2019-03-06 21:20] alexislefebvre commented on #496
If I understand correctly, you would like to call some methods of `WebTestCase` without needing to devkade

[2019-03-06 21:59] Jean85 commented on #496
That's the biggest part, but obviously having a fork for me is helpful for other small reasons, maintainability as the first: I would have a stable release immediately (we're on alpha since long ago) and I would have to maintain a smaller project with quite a smaller `composer.json`.

Last but not least, some of the methods that I would like to have (i.e. the assertions on status code) are problem

[2019-03-06 23:14] alexislefebvre commented on #496
OK, I see, thanks for the explanation.

I'm wondering how splitting the Bundle would complicate the work on it.

Maybe we should better extract everything related to fixtures in another Bundle? We may end up with 2 independent bundles instead of one that require another one.

[2019-03-07 07:14] dbu commented on #496
that would be win-win! the part that @Jean85 did is not a bundle, it basically provides one class that you use in your tests. i don't know what else besides fixtures and the test case is in LiipFunctionalTestBundle - but splitting it up that way and leaving out random stuff that might not even be used by most people sounds like a good plan to me.

[2019-03-07 20:35] temp commented on #495
Same here, with @dataProvider.

[2019-03-08 09:55] lsmith77 commented on #496
@alexislefebvre so if we split off the fixture loading stuff you think we can release 2.0 in the next few weeks?

[2019-03-08 10:46] alexislefebvre commented on #496
@lsmith77 The problems that block the release of 2.0 are related to fixtures: https://github.com/liip/LiipFunctionalTestBundle/issues/381#issuecomment-447664188

So yes we could quickly release 2.0 of this bundle without fixtures.

[2019-03-08 10:49] lsmith77 commented on #496
ok so lets explore this .. I think this could be quite beneficial ..

@Jean85 what do you think about this?

[2019-03-08 21:33] Jean85 commented on #496
That's the same for me, but splitting is still a bit of work, especially on your end (new forked repo, decisions on how to handle the namespace, handling deps, refactoring).

[2019-03-08 22:42] alexislefebvre commented on #495
You can try this:

1. Create file `tests/bootstrap.php` with the following content:

[code]

2. Configure path to this file in `phpunit.xml.dist`:

[code]

If this works for you, we could add it to the documentation.

[2019-03-08 22:46] alexislefebvre commented on #495
Or you can try to use `@IgnoreAnnotation`: https://github.com/liip/LiipFunctionalTestBundle/blob/1845a0f21a81ecf589fef0543e0189187e049f6d/README.md#caveats

[2019-03-10 01:12] jrjohnson commented on #495
The issue is that this library is now parsing annotations in tests due to #484. The `doctrine/annotations` library throws an error whenever it finds an annotation that it doesn't understand. I had never seen this error before because no library had ever attempted to parse test files.
 I've opened https://github.com/doctrine/annotations/pull/254 over there to add the PHPUnit annotations to the set

[2019-03-11 07:44] lsmith77 commented on #496
I am willing to take over the work to creating a new Bundle for the fixture stuff. @alexislefebvre can you take care of wrapping up 2.0 of this Bundle? or how can we coordinate the left over work?

[2019-03-11 11:13] alexislefebvre commented on #496
I think that we can name the other bundle `LiipFixturesBundle`. What do you think?

Is it better to fork this repository or create a fresh one?

I can work on splitting the bundle on the next days, I think that it's not that complicated. But maybe I'm missing something since several of you said that it requires some significant work?

[2019-03-11 11:30] Jean85 commented on #496
IMHO splitting the fixtures away from here would be a major BC for the end user, because a lot of features will "disappear" from their POV. Maybe it's better to extract the test case in a separate package, and declare it as a sub-dep of this one? In this way the new package will not be named "bundle", since it wouldn't be one, right?

As for the work, it's about namespacing and reconfiguring CI an

[2019-03-11 12:24] sirroman commented on #495
does not work

[2019-03-11 12:26] lsmith77 commented on #496
I guess we have 2 ways we can slice things:
1) non-Bundle stuff vs. Bundle stuff
2) non-Fixture stuff vs. Fixture stuff

From my understanding @alexislefebvre predicts that 2) is the easier one to achieve quickly. The draw back is indeed bigger disruption for anyone needing all functionality, especially if our fixture solution will come later. Then again they can stick to the 1.x version until the

[2019-03-12 00:57] alexislefebvre commented on #496
@Jean85 You're right, I forgot the BC break part. :sweat_smile: While I don't like them, I think that it's also a common step in lifecycles of software. So as long as the upgrade instructions are not too long, it's still doable.

It would be something like this:

(see [Panther](https://github.com/symfony/panther#usage-with-other-testing-tools) as an example of how a Trait can be used in a test)

I

[2019-03-12 07:37] lsmith77 commented on #496
OK thank you!

I will make sure that I will give feedback in a timely manner.

[2019-03-16 19:07] alexislefebvre commented on #495
Adding `@IgnoreAnnotation("requires")` fixed the issue for me: https://github.com/alexislefebvre/AsyncTweetsBundle/pull/68/files

[2019-03-16 19:28] alexislefebvre commented on #495
Please see #497

[2019-03-16 19:28] alexislefebvre commented on #495
@sirroman Please see #497

[2019-03-17 18:23] alexislefebvre commented on #496
I successfully splitted the fixtures code in another bundle and used them in a project: https://github.com/alexislefebvre/AsyncTweetsBundle/pull/69/files

My project doesn't use all the features of the 2 bundles, so some things may be missing.

I was not easy but it looks like we can split the bundle. :tada:

[2019-03-18 07:55] lsmith77 commented on #496
ok cool .. so I will create a LiipFixturesBundle or should it be LiipTestFixturesBundle ?

[2019-03-18 10:36] alexislefebvre commented on #496
I prefer LiipFixturesBundle personally. LiipTestFixturesBundle is OK too. :)

[2019-03-18 11:04] dbu commented on #496
there is other fixtures than plain test fixtures. see for example https://symfony.com/doc/master/bundles/DoctrineFixturesBundle/index.html to set up a manual testing system with some fake data. is the LiipFixturesBundle only for automated tests or could it also be used for other things? i'd decide the name based on that question.

[2019-03-18 13:18] alexislefebvre commented on #496
@dbu You're right, the goal of this bundle will be to load fixtures during test. DoctrineFixturesBundle can be used to load fixtures outside of test environment. So LiipTestFixturesBundle is a perfect name. :+1:

[2019-03-18 13:25] lsmith77 commented on #496
https://github.com/liip/LiipTestFixturesBundle

@alexislefebvre I gave you commit rights

[2019-03-18 13:30] lsmith77 commented on #496
I guess our primary focus should then be to get 2.0 of LiipFunctionalTestBundle shipped .. if you can submit a PR with the fixture stuff removed I will review it ASAP

[2019-03-18 22:03] alexislefebvre commented on #496
Thanks @lsmith77 I cloned the `2.x` branch as the `master` branch: https://github.com/liip/LiipTestFixturesBundle/

I opened a PR so that everyone can check the changes: https://github.com/liip/LiipTestFixturesBundle/pull/1

[2019-03-19 13:37] magnetik opened #498 "[Doc] Schema screation with doctrine/orm < or > 2.6"
Hi,

The doc for 2.x states:

But a few lines later, the option to resolve it is: `composer require doctrine/orm:^2.6`

So this should be "The bundle will not automatically create your schema for you unless you use SQLite or doctrine/orm >= 2.6" ?

[2019-03-19 13:47] magnetik commented on #498
And I just tried with doctrine/orm 2.6.4, and the `loadFixtures()` fails with `Unknown database` error because it tries to select it as soon as the connection is started, so before the `createDatgabaseIfNotExists()` call of the bundle.

[2019-03-19 22:25] alexislefebvre commented on #498
Thanks for your test, so it worked with doctrine/orm 2.6.3?

`doctrine/orm:^2.6` is already required in `require-dev` of `composer.json` of the `2.x` branch, so internal tests use latest version while users can use an older one.

(using a lower ORM version may explain !470 and/or !423 and why I wasn't able to reproduce the errors, it needs further investigation)

[2019-03-20 07:32] lsmith77 commented on #496
ok PR merged and submitted the package to packagist

[2019-03-20 08:11] magnetik commented on #498
My bad I was testing with doctrine 2.6.3.

BUT good news, I think I have it !

I was using a database URL with the database name inside (`mysql://foobar@127.0.0.1:3306/bar`).
The `ORMDatabaseTools` removes the `dbname` from the params but not from the URL, hence it's trying to do a connection to the database to create the database.

I'll see if I can come up with a not-so-bad PR.

[2019-03-20 08:24] magnetik commented on #498
Well I'm not that clever.

Maybe we can just remove the `path` of the URL with some `parse_url`, but I fear that this would lead to some breakage with sqlite.

It seems very dirty to try to handle the URL has good as doctrine `DriverManager` does, and all it's methods are private so we cannot really rely on it.

Maybe we can just issue a warning stating that the URL should not be used?

[2019-03-20 09:28] lsmith77 commented on #496
so last steps will be:
1) moving all fixture related PRs to LiipTestFixturesBundle
2) removing fixture code from this Bundle
3) (test) releases for both Bundles

[2019-03-20 15:54] magnetik commented on #423
I think the philosophy of fixtures loading of thoses two bundles (dama & liip) are incompatible and cannot really be mixed.

Indeed this bundle allows you to specify a different set of fixtures for every tests (at least I'm using
extensively `loadFixtures([Foobar::class, Bar::class])` in one test and `loadFixtures([Foo::class]);` in another), whereas dama's doctrine bundle encourage you to load al

[2019-03-24 23:37] alexislefebvre commented on #496
Please see #502 where fixtures loading has been removed.

We'll have to take care that documentation about updating the dependencies for both bundles will be complete.

Creating a 2.x without fixtures would be a BC break for projects that rely on the alpha. In order to avoid this, we may require LiipTestFixturesBundle as a dependency.

Then we could release a 3.x release of this bundle without the

[2019-03-25 07:51] lsmith77 commented on #496
I like the idea with the 3.x release!

I will review your PR today.

Thanks!

[2019-03-25 08:50] Jean85 commented on #496
3.x is a nice idea! I would suggest to declare that version as abandoned ASAP BTW, or you'll be forced to backport everything always.

[2019-03-25 10:08] alexislefebvre commented on #496
Should we add `LiipTestFixturesBundle` as a dependency of the PR so that it doesn't break the current API?

Or should we start the 3.x branch from #502 and ignore the 2.x branch?

Second option seems easier, it means that we would have to change the target of the PR.

[2019-03-25 10:31] lsmith77 commented on #496
No, I think with the 3.x strategy we don't need to force this dependency.
and yeah, lets start the 3.x branch right away to keep life simpler.

[2019-03-26 10:20] lsmith77 commented on #496
merged .. thx!

awesome work.

I guess we can close this ticket now?

[2019-03-26 21:43] alexislefebvre commented on #496
Can we release a `3.0.0-alpha1` version of this bundle and a `0.1.0-alpha1` of the fixtures bundle ? I would like to test these versions in a project, it will help to check that they work, and that upgrade and installation guides are valid.

[2019-03-27 06:56] lsmith77 commented on #496
sounds good to me

[2019-03-31 14:44] alexislefebvre commented on #496
Upgrading was straightforward: https://github.com/alexislefebvre/AsyncTweetsBundle/pull/70/files

I expected that there may be a conflict because `getContainer()` is defined in both bundles, but it worked.

[2019-04-07 11:11] msechi opened #504 "Unable to register fixture using sqlite"
composer.json (dev)
`"doctrine/doctrine-fixtures-bundle": "^3.1",
"liip/functional-test-bundle": "~2.0@alpha",`

config/packages/test/doctrine.yaml
`doctrine:
    dbal:
      driver: 'pdo_sqlite'
      url: 'sqlite:///%kernel.project_dir%/var/test.db3'`

my test class
`class SimplestTest extends WebTestCase
{

private $fixtures;

public function setUp()
{
    $this->fixtures = $this->loadFixtures(

[2019-04-07 11:11] msechi opened #607 "Unable to register fixture using sqlite"

[2019-04-07 17:05] alexislefebvre commented on #504
IIRC, you have to declare the fixture as a service and tag it as a fixture.

[2019-04-07 23:20] alexislefebvre commented on #504
This is documented in changelog and upgrade guide: https://github.com/liip/LiipFunctionalTestBundle/blob/4f94510b5c1c1758b9e7a284114a4643e38decb1/CHANGELOG.md#changed https://github.com/liip/LiipFunctionalTestBundle/blob/4f94510b5c1c1758b9e7a284114a4643e38decb1/UPGRADE-2.0.md

It should be added in fixtures documentation too.

---

Here is an example of usage:

[code]

[2019-04-08 07:58] msechi commented on #504
ok I get it
thanks @alexislefebvre

[2019-04-08 11:27] msechi opened #505 "Problem passing Bearer Token to GET request"
I am trying to test an api but I am having some issue passing the bearer token. I make a first call to get the token:

    $client->request('POST', '/api/login_check', [], [],
        ['CONTENT_TYPE' => 'application/json'],
        json_encode(
            [
                "username" => $user->getUsername(),
                "password" => 'password',
            ]
        )
    );

    $response =

[2019-04-09 07:31] msechi commented on #505
please ignore this. I just found out is a problem with api-platform, not really related to this bundle.

[2019-04-09 07:31] #505 closed

[2019-04-24 21:11] alexislefebvre commented on #495
I'm closing this issue, please reopen it if #497 doesn't solve the issue.

[2019-04-24 21:11] #495 closed

[2019-05-09 19:21] lsmith77 commented on #458
done

[2019-05-09 19:21] #458 closed

[2019-05-09 23:05] alexislefebvre commented on #458
Great, thanks!

[2019-05-10 06:25] dominikzogg opened #507 "Tag 1.9.3 was removed"
Until yesterday the bundle was installable by the tag 1.9.3 side by side with phpunit 7.5 and worked for our project, now the tag is gone and we're in a situation we cannot recover, cause no newer version is stable and supports phpunit 7.5.

[2019-05-10 09:13] corphi commented on #507
The commit 80329104370eabebc10df69c15e98f585773884d was tagged 1.9.3.

[2019-05-10 09:33] dominikzogg commented on #458
#507

[2019-05-10 09:46] lsmith77 commented on #507
what is the issue with 1.9.5?

[2019-05-10 10:08] dominikzogg commented on #507
Conflict with phpunit >= 7

Lukas Kahwe Smith <notifications@github.com> schrieb am Fr., 10. Mai 2019,
11:46:

[2019-05-10 10:36] lsmith77 commented on #507
@alexislefebvre I guess we could try to get a 1.94.1 one released that disallows Symfony 4 but works for phpunit 7 and Symfony 3. wdyt?

[2019-05-10 12:32] corphi commented on #458
What about declaring a conflict with affected versions in the Symfony 4 project? You don’t get the bad versions and can drop the local constraint when your minimum requirements surpasses it. Projects I maintain usually collect about a dozen excludes for certain package versions that either contain a bug or don’t work when combined with other packages.

[2019-05-10 13:34] alexislefebvre commented on #507
Sorry for the inconvenience.

Does https://packagist.org/packages/liip/functional-test-bundle#1.10.0 fit your needs?

[2019-05-10 15:05] dominikzogg commented on #507
@alexislefebvre we're using phpunit 7.5, so no

[2019-05-10 16:06] alexislefebvre commented on #507
Sorry, I missed that it was noted in `Conflicts`. :see_no_evil:

[2019-05-10 22:05] alexislefebvre commented on #507
I upgraded dependencies in #508, it could be released as `1.11.0` (because requiring PHP 7.1 is a great change, and [1.10.0](https://github.com/liip/LiipFunctionalTestBundle/releases/tag/1.10.0) is the last release from master, not 1.9 :wink:).

[2019-05-12 10:55] corphi commented on #507
It would work for me; I am running PHP 7.2 and PHPUnit 7.5, but can’t upgrade to Symfony 3.4 quite yet. I’ll fire up a test run tomorrow. Thanks.

[2019-05-13 20:59] alexislefebvre commented on #507
Please try the 1.11. version: https://github.com/liip/LiipFunctionalTestBundle/releases/tag/1.11.0

[2019-05-13 20:59] alexislefebvre commented on #507
Please try the 1.11.0 version: https://github.com/liip/LiipFunctionalTestBundle/releases/tag/1.11.0

[2019-05-14 08:14] gnutix opened #509 "Compatibility with Symfony 4.3.0-BETA1"
Running any test extending `Liip\FunctionalTestBundle\Test\WebTestCase` result in :

[code]

### Preconditions
* Symfony 4.3.0-BETA1
* LiipFunctionalTestBundle 2.0.0-alpha15 and 3.0.0-alpha1

[2019-05-14 08:37] gnutix commented on #509
I've fixed the code with this patch : https://diffy.org/diff/ydi0ltz330f1n73szx1xajor

But I'm not sure if I can do a PR, as it's a BC break for this library I guess.

[2019-05-14 10:00] alexislefebvre commented on #509
Thanks, could you please open a PR targeting the `3.x` branch? We'll see if it breaks tests.

[2019-05-14 14:11] gnutix commented on #509
There you go : https://github.com/liip/LiipFunctionalTestBundle/pull/510

[2019-05-16 12:51] MassiveHiggsField opened #511 "Support for PHPUnit 8"
Do you have any plans to support PHPUnit 8? What is missing so far? Can i help?

[2019-05-16 13:31] alexislefebvre commented on #511
To my knowledge, there hasn't been work on PHPUnit 8 yet.

Feel free to open a PR with support of PHPUnit 8, it has to be based on the 3.x branch (unreleased yet).

[2019-05-16 13:32] alexislefebvre commented on #511
To my knowledge, there hasn't been work on PHPUnit 8 yet.

Feel free to open a PR with support of PHPUnit 8, note that it has to be based on the 3.x branch of this bundle (unreleased yet).

[2019-05-17 08:04] MassiveHiggsField commented on #511
Okay, i am gonna try to do that. Do you wanna support both PHPUnit 7 and PHPUnit 8 in the 3.x branch or just v8?

[2019-05-17 09:55] alexislefebvre commented on #511
We have to do our best to support PHPUnit 7 since it's supported until February 7, 2020 : https://phpunit.de/supported-versions.html

[2019-05-17 09:56] MassiveHiggsField commented on #511
Yep makes sense, i will give it a shot on the coming weekend.

[2019-05-22 10:06] alexislefebvre commented on #509
Thanks for the PR, it fixed the issue for Symfony 4.3 but break tests with all other versions.

I'm still wondering if this is an issue from Symfony that require a change to avoid BC break, see these related issues: https://github.com/symfony/symfony/pull/30541 https://github.com/symfony/symfony/issues/31039 https://github.com/symfony/symfony/pull/31040

[2019-05-22 10:10] alexislefebvre commented on #509
We could use an alias as shown in this comment: https://github.com/symfony/symfony/pull/30541#issuecomment-481215018

[2019-05-22 13:38] gnutix commented on #509
Not sure how. I get `PHP Fatal error:  Uncaught Cannot declare class Symfony\Component\BrowserKit\Client, because the name is already in use` if I put `class_alias(\Symfony\Component\BrowserKit\AbstractBrowser::class, 'Symfony\Component\BrowserKit\Client');` on top of my `WebTestCase` class (that extends this bundle's one and override `makeClient`).

[2019-05-22 14:23] gnutix commented on #509
PR ready.

[2019-05-22 20:46] alexislefebvre commented on #509
Thanks a lot! I'll publish a new release.

[2019-05-22 20:46] #509 closed

[2019-05-26 15:27] #507 closed

[2019-05-30 14:34] alexislefebvre commented on #423
I found a simple workaround: use `$this->loadFixtures([…], true);`, with `$append = true`, there's no `TRUNCATE` so it avoids the conflict with DAMADoctrineTestBundle.

[2019-05-30 15:20] alexislefebvre commented on #423
You're right, I'll stop searching for a solution and accept that we can't use the 2 bundles in the same time.

I created a PR to explain this: https://github.com/liip/LiipTestFixturesBundle/pull/3

[2019-05-30 15:23] alexislefebvre commented on #470
See https://github.com/liip/LiipTestFixturesBundle/issues/4

[2019-05-30 15:26] alexislefebvre commented on #496
Can someone please review #506 and https://github.com/liip/LiipTestFixturesBundle/pull/3?

I'm working on https://github.com/liip/LiipTestFixturesBundle/issues/4 and if there's no solution, I'll add the workarounds in the documentation.

Then we'll be able to release new stable versions (3.0 for this bundle and 1.0 for LiipTestFixturesBundle).

[2019-05-31 14:45] javiereguiluz opened #513 "Current usage of TreeBuilder::root method is deprecated"
Sorry if this was reported earlier, but I can't find any issue or PR.

### Steps to reproduce
1. Upgrade to Symfony 4.3 and you'll see this deprecation message:

[code]

This is something all Symfony bundles must fix. Here are some examples of how to do it:

* https://github.com/sensiolabs/SensioFrameworkExtraBundle/pull/594/files
* https://github.com/doctrine/DoctrineCacheBundle/pull/148/files

[2019-05-31 14:48] javiereguiluz opened #514 "ContainerAwareCommand class is deprecated"
### Steps to reproduce
1. Install this bundle in a Symfony 4.2 or 4.3 application and you'll see these deprecation messages:

[code]

[2019-05-31 15:24] alexislefebvre commented on #381
Thanks everybody for your help.

I'm closing this in favor of #496

[2019-05-31 15:30] alexislefebvre commented on #496
After releases, we could move issues marked as [move-to-fixtures-repository](https://github.com/liip/LiipFunctionalTestBundle/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Amove-to-fixtures-repository) to the TestFixtures repository: https://twitter.com/natfriedman/status/1134167060307750913 (for some reason, I don't see the “Transfer this issue” button).

[2019-05-31 15:40] lsmith77 commented on #496
will try to look at it tonight

On Fri, 31 May 2019 at 17:30, Alexis Lefebvre <notifications@github.com>
wrote:

--
regards,
Lukas

[2019-06-01 02:43] #381 closed

[2019-06-02 06:55] lsmith77 commented on #496
sorry .. looks like I will only get to it tonight or at the latest tomorrow.

[2019-06-02 17:58] alexislefebvre commented on #513
It should have been fixed in #478, I'll see why there's still a deprecation.

[2019-06-02 20:07] lsmith77 commented on #496
@alexislefebvre amazing work!

Added a small comment to #506 .. feel free to either adapt the code or not and merge yourself.
https://github.com/liip/LiipTestFixturesBundle/pull/8 needs a rebase and can then be merged

[2019-06-02 20:53] alexislefebvre commented on #496
Thanks a lot @lsmith77, I'm going to create RC releases in order to test them in my projects, we will be able to publish final releases next week.

[2019-06-02 23:38] alexislefebvre opened #516 "[3.x] Ease upgrade from 1.x to 3.x"
**Is your feature request related to a problem? Please describe.**
Upgrade from 1.x to 3.x cause several issues if one doesn't read documentation carefully (like most of us do):

- Old configuration `liip_functional_test.cache_sqlite_db: true` causes errors, when Composer run Symfony scripts:

[code]

- Calls to `loadFixtures` and `loadFixtureFiles` throw fatal errors when running tests:

[code]

[2019-06-04 15:38] soullivaneuh commented on #423
https://github.com/liip/LiipFunctionalTestBundle/issues/423#issuecomment-440616576

@alexislefebvre May we consider this? With an note on the readme, it would allow to use both, accepting not using some part of the liip bundle.

In my case, I need both for different test case, but I can't really separate as dama listener is loaded from the PHPUnit configuration. Except if you have a magic workarou

[2019-06-04 16:56] Simperfit commented on #516
@alexislefebvre I need to do some more tests, but it seems that passing from 2.x to 3.x is making my test x2 longer.

[2019-06-04 21:19] alexislefebvre commented on #516
This may be due to an issue with accesses to the container, as reported in #446.

[2019-06-04 21:22] alexislefebvre commented on #423
Thanks for the reminder, I forgot this option. I'll try to find a way.

[2019-06-04 22:13] alexislefebvre commented on #423
I can replicate the issue in a different project, the error disappears if I disable the static connection:

[code]

If this is a temporary solution, we can merge https://github.com/liip/LiipTestFixturesBundle/pull/11

[2019-06-04 22:37] alexislefebvre commented on #423
I still don't understand why there's no error when I run internal tests with DAMADoctrineTestBundle as in https://github.com/liip/LiipTestFixturesBundle/pull/10, but if I put the same configuration in a project, I have the same error than in the issue. :thinking:

[2019-06-05 08:53] alexislefebvre commented on #516
Or, the use of `static::$client`, we can rename `$client` to `$testClient` projects' code in order to avoid the conflict: https://github.com/liip/LiipFunctionalTestBundle/pull/512

[2019-06-05 09:00] alexislefebvre opened #518 "[2.x] Backport Symfony 4.3 support"
**Is your feature request related to a problem? Please describe.**
Performance issue with version 3.0 of this bundle: https://github.com/liip/LiipFunctionalTestBundle/issues/516#issuecomment-498755808

**Describe the solution you'd like**
Merge #512 in 2.x

**Describe alternatives you've considered**
.

**Additional context**
.

[2019-06-05 15:55] alexislefebvre opened #520 "[2.x][3.x] Remove BC layers when possible"
_Originally posted by @nicolas-grekas in https://github.com/liip/LiipFunctionalTestBundle/pull/519_

Roadmap:

- [x] wait for next release of Symfony 4.3
- [x] set this next release of Symfony 4.3 as the minimal version for 4.3, or declare conflict with 4.3.0?
- [x] (2.x, less urgent) Revert #519 Feature/cherry pick 4.3 → see #527
- [x] (3.x) Revert #512 Add compatibility for Symfony 4.3+ → see #5

[2019-06-05 15:57] alexislefebvre commented on #518
Fixed in #519

[2019-06-05 15:57] #518 closed

[2019-06-06 14:48] gnutix commented on #520
@alexislefebvre symfony 4.3.1 has been released!

[2019-06-06 15:07] lsv opened #521 "[2.x] Symfony 4.3.1 - Symfony\Bundle\FrameworkBundle\Client already exists"
### Preconditions

1. 2.0@alpha (alpha16)
2. 464c7a20a30f6f73ecb1a4c0ce9f9caf3ebbfd64

### Steps to reproduce

https://github.com/liip/LiipFunctionalTestBundle/blob/2.0.0-alpha16/src/Test/WebTestCase.php#L575-L578

So maybe also check if the class `Symfony\Bundle\FrameworkBundle\Client` already exists?

Everything works normal if I add `&& !class_exists('Symfony\Bundle\FrameworkBundle\Client')`

T

[2019-06-06 15:13] alexislefebvre commented on #521
This should work if you downgrade to `2.0.0-alpha15` or use Symfony `4.3.0`.

[2019-06-06 15:14] alexislefebvre commented on #520
Now BC layers are broken by fixes that reverted BC breaks :upside_down_face:, see #519 and #521

[2019-06-06 15:34] lukepass commented on #488
Hello! Any news on this matter? Unfortunately it's impossible to get paratest working. This is my command:

`./vendor/bin/paratest -p8 --functional --phpunit='./vendor/bin/simple-phpunit'` (Symfony 3.4)

Thanks!

[2019-06-07 07:55] soullivaneuh commented on #521
The BC layer is not correct, the condition should be the reverse:

[code]

But as the classes is re-introduced on Symfony 4.3.1, I suggest to just remove the BC layer and add a conflict rule for symfony 4.3.0.

[2019-06-07 08:51] soullivaneuh commented on #423
Disabling `enable_static_connection` "solve" the issue, but disable the state reset, so not very helpful. :-D

[2019-06-07 11:02] alexislefebvre commented on #423
Well, that's still better than an exception :wink:

[2019-06-07 23:35] alexislefebvre commented on #520
Fixed in #522 and #523 but tests are broken. :thinking:

[2019-06-07 23:42] alexislefebvre commented on #496
https://github.com/liip/LiipTestFixturesBundle/releases/tag/1.0.0 :tada:

This version is not perfect, there are performance issues, see https://github.com/liip/LiipTestFixturesBundle/issues/12, but at least we now have a stable base to build on.

LiipFunctionalTestBundle is currently broken, we can't release new versions yet, see #520.

[2019-06-07 23:44] alexislefebvre commented on #496
I created a `1.x` branch from current `master` branch: https://github.com/liip/LiipFunctionalTestBundle/tree/1.x

How can we replace `master` with `3.x` branch? Is it better to open a PR or force push `3.x` to `master`?

[2019-06-07 23:59] alexislefebvre commented on #520
See #523 525

[2019-06-07 23:59] alexislefebvre commented on #520
See #525

[2019-06-08 00:13] alexislefebvre commented on #520
A new error appeared with Symfony 4.3.1 and is visible in #523:

(source: https://travis-ci.org/liip/LiipFunctionalTestBundle/jobs/542656030 )

It is triggered by the following configuration:

[code]

[2019-06-11 07:10] lsmith77 commented on #496
pushing 3.x into master should work ..
do we have commits in master we do not have in 3.x? if so yeah I guess we need to force push (but maybe first verify that none of the commits in master should be integrated into 3.x)

[2019-06-11 21:44] alexislefebvre commented on #423
@soullivaneuh Could you please try the change added on the PR https://github.com/liip/LiipTestFixturesBundle/pull/15?

1. Add this in your `composer.json` file:
[code]
2. `composer require --dev liip/test-fixtures-bundle:dev-fix-conflict-with-dama-doctrine-test-bundle`
3. Set `liip_test_fixtures.keep_database_and_schema: true` in your configuration

[2019-06-11 22:24] alexislefebvre commented on #520
Please see #526

[2019-06-12 19:53] alexislefebvre commented on #520
Last 3.x release which should work with Symfony 4.3.1 (and 3.4, etc.): https://github.com/liip/LiipFunctionalTestBundle/releases/tag/3.0.0-RC2

[2019-06-12 22:12] alexislefebvre commented on #520
Fixed by #526 and #527.

[2019-06-12 22:12] #520 closed

[2019-06-13 13:30] gnutix opened #528 "[3.x] Wrong version of the package loaded with Composer"
It's a very strange thing I'm experiencing : I've included `"liip/functional-test-bundle": "~3.0@RC",` in my `require-dev` section of `composer.json`, and yet when I run `composer update liip/functional-test-bundle`, I get the version `3.0.0-RC1` instead of, in my opinion, `3.0.0-RC2`. The same with `~3.0@alpha`, which gets me `3.0.0-alpha1` instead of `3.0.0-alpha2`.

Any idea how/why this happen

[2019-06-13 16:34] alexislefebvre commented on #528
What version of Symfony do you use? `4.3.0`?

In this case, it's due to the conflict added in last releases: https://github.com/liip/LiipFunctionalTestBundle/commit/c2201eaca775b70369385d35b9aa082b37c8d087#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780R34

Please try again when Symfony `4.3.1` is installed.

[2019-06-13 16:35] alexislefebvre commented on #521
Please see #527

[2019-06-14 09:27] alexislefebvre commented on #521
Fixed in #527, please reopen the issue if the problem is not fixed.

[2019-06-14 09:27] #521 closed

[2019-06-14 22:42] alexislefebvre commented on #496
Here it is, the new stable version `3.0.0`: https://github.com/liip/LiipFunctionalTestBundle/releases/tag/3.0.0

Thanks everybody who worked on the several versions!

[2019-06-14 22:42] #496 closed

[2019-06-14 22:49] #470 closed

[2019-06-16 19:16] alexislefebvre commented on #496
@lsmith77 I checked and only one commit from `1.x` was missing in last release, I opened a PR about this change: https://github.com/liip/LiipTestFixturesBundle/pull/17

I prefer to avoid force-pushing on `master` branch so here is a PR to merge `3.x` into `master`: please see https://github.com/liip/LiipFunctionalTestBundle/pull/529

[2019-06-17 11:28] #380 closed

[2019-06-17 11:28] #273 closed

[2019-06-17 11:29] lsmith77 commented on #496
merged both .. I guess we can then kill 3.x

[2019-06-17 16:45] alexislefebvre commented on #496
Thanks a lot @lsmith77!

[2019-06-19 10:12] pauliuslukosiunas commented on #495
this one solved my problem :)

[2019-06-26 20:19] PapyDanone opened #533 "[2.x] Cannot install 2.x branch anymore"
Could be related to #528

when requiring

    "liip/functional-test-bundle": "2.x-dev"

or

    "liip/functional-test-bundle": "~2.0@dev"

the installed version ends up being the latest from `master`:

    $ composer show | grep liip

    liip/functional-test-bundle         dev-master ac2c320

Symfony version: `4.3.2`

Am I missing anything? Thanks for the help.

[2019-06-27 00:09] jayesbe commented on #533
Same issue. Try "liip/functional-test-bundle": "2.x-dev#464c7a2"

[2019-06-27 08:28] alexislefebvre commented on #533
Please try this: `composer require "liip/functional-test-bundle:~2.0@alpha"`

If it doesn't work, please run `composer why-not "liip/functional-test-bundle:~2.0@alpha"` and share the output.

[2019-06-30 17:13] alexislefebvre commented on #533
Did you found a solution? Did you try the stable 3.0 release?

[2019-06-30 17:13] alexislefebvre commented on #528
@gnutix Did you found a solution?

[2019-07-01 14:04] PapyDanone commented on #533
@alexislefebvre we did end up upgrading to the 3.0 release.

I also tested `composer require --dev "liip/functional-test-bundle:~2.0@alpha"` and it now resolves to the expected commit hash.

Thanks for the help.

[2019-07-01 14:04] #533 closed

[2019-07-02 08:40] magnetik opened #535 "[3.x] WebTestCase and FixturesTrait override (?)"
After upgrading from 2.x, I'm confused by the fact that `WebTestCase` and `FixturesTrait` are sharing a lot of code, and defining a lot of properties and method.

It looks like both bundle are really really coupled and I'm quite sure that this will lead to breaking sooner or later.

[2019-07-02 08:58] alexislefebvre commented on #535
I agree.

Some properties are not used and can be removed from `FixturesTrait`:https://github.com/liip/LiipTestFixturesBundle/blob/9bd069ffb892d47f2a00861de69a699bd49b7dbe/src/Test/FixturesTrait.php#L29

My biggest concern is `getContainer()`, we may deprecate it and recommend to inject dependencies instead: https://github.com/liip/LiipTestFixturesBundle/issues/18

[2019-07-08 08:36] lukepass opened #537 "$this->assertValidationErrors error: Cannot call constructor"
### Preconditions

I am using Symfony 3.4 with the following bundles:
[code]

### Steps to reproduce

1. Create a class that extends `Liip\FunctionalTestBundle\Test\WebTestCase`
2. Use the following method: `$this->assertValidationErrors([], $client->getContainer())`

### Expected result

1. The list of validation errors should be shown

### Actual result

My code:
[code]

[code]

[2019-07-08 08:41] lukepass commented on #537
It seems that the class `ValidationErrorsConstraint` is calling `parent::__construct()` but it doesn't have a parent.

[2019-07-08 21:11] alexislefebvre commented on #528
I'm closing this issue, you can now use the sable release 3.0. Feel free to reopen this issue if the problem is still present.

[2019-07-08 21:11] #528 closed

[2019-07-08 21:30] #386 closed

[2019-07-08 21:33] alexislefebvre commented on #270
Fixed by #367.

[2019-07-08 21:33] #270 closed

[2019-07-08 21:35] #516 closed

[2019-07-08 21:53] alexislefebvre commented on #537
The constructor of `PHPUnit\Framework\Constraint` was removed in PHPUnit 8.

The issue will be fixed in #541

[2019-07-08 23:46] alexislefebvre commented on #511
This bundle doesn't require a specific version of PHPUnit, so it's possible to use PHPUnit 8 as shown in #351

The issue with PHPUnit 8 will be fixed in #541.

[2019-07-15 21:04] alexislefebvre commented on #423
https://github.com/liip/LiipTestFixturesBundle/pull/15 has been merged, ou can disable automatic creation of database in the last release of LiipTestFixturesBundle: https://github.com/liip/LiipTestFixturesBundle/releases/tag/1.1.0

[2019-08-05 09:58] soullivaneuh commented on #423
Sorry @alexislefebvre I didn't get the time to test.

So if I well understand, I have to migrate to v3 with the new test-fixtures bundle to get the fix?

[2019-08-05 20:38] alexislefebvre commented on #423
No problem. :)

Exactly, then you'll be have a setting to disable changes related to database and schema: https://github.com/liip/LiipTestFixturesBundle/blob/836599c15fa6d7333aef1a60f68f3c55fe5ca7ae/doc/caveats.md

[2019-08-06 15:52] soullivaneuh commented on #423
I'll give a try on my next project upgrade section, thanks!

[2019-09-09 22:20] olivermack commented on #422
@alexislefebvre I've just tested it again and I'm still facing the described issues...

* `liip/functional-test-bundle` is at `3.2.0`
* `liip/test-fixtures-bundle` is at `1.3.0`
* `doctrine/doctrine-fixtures-bundle` is at `3.2.2`

My fixtures are indeed `ContainerAware`, but do not have any constructor dependencies.
Please let me know if I can provide you with any additional details to help figuri

[2019-09-09 22:25] olivermack commented on #422
Ah, maybe I found something... In some of my fixtures I'm using an `AssignedGenerator` IdGenerator to set a predefined ID (I'm using UUIDs as PKs). Those seem to cause some trouble. I've just diffed the `VarDumper::dump()`ed version of the metadatas used for backup and restore and surprisingly the diff output showed me exactly that... I'll see if I just forgot to reset the generator.
I'll let you

[2019-09-09 22:45] olivermack commented on #422
Yeah, ok, that was the issue indeed...
Let me quickly describe how I _fixed_ it for me :)...

Most of my entities have an annotation-mapping defined like this:
[code]

In some of my fixtures I wanted to have a couple of items with predefined UUIDs, this I have something like this in the beginning of my fixture:

[code]

Because of the fact that the fixtures are executed on a non-existent cache, th

[2019-09-10 12:13] alexislefebvre commented on #422
Thanks for the detailed information. This could be interesting to document this in https://github.com/liip/LiipTestFixturesBundle/blob/master/doc/database.md or https://github.com/liip/LiipTestFixturesBundle/blob/master/doc/caveats.md

[2019-09-26 08:49] jorgeluisacostaalonso commented on #505
Hi, could you post the solution you found.

[2019-10-02 08:06] lukepass commented on #487
Hello, any news on this subject? Thanks!

[2019-10-12 00:01] alexislefebvre commented on #487
No, sorry, is the problem still here with the 3.x branch?

[2019-11-01 12:04] sveriger commented on #537
Unfortunately this is still open. @alexislefebvre Why don't you finish your fix?

[2019-11-02 10:13] #469 closed

[2019-11-03 19:05] #511 closed

[2019-11-03 19:05] #537 closed

[2019-11-03 19:07] alexislefebvre commented on #511
Please try the last release: https://github.com/liip/LiipFunctionalTestBundle/releases/tag/3.3.0

[2019-11-03 19:07] alexislefebvre commented on #537
Please try the last release: https://github.com/liip/LiipFunctionalTestBundle/releases/tag/3.3.0

[2019-11-13 21:48] dnl-jst opened #548 "WebTestCase and FixturesTrait define the same property ($containers)"
```Fatal error: Liip\FunctionalTestBundle\Test\WebTestCase and Liip\TestFixturesBundle\Test\FixturesTrait define the same property ($containers) in the composition of App\Tests\TestCase\FunctionalTestCase. However, the definition differs and is considered incompatible. Class was composed in /var/www/tests/TestCase/FunctionalTestCase.php on line 1```

### Preconditions
PHP 7.2

1. liip/functional-t

[2019-11-13 22:39] alexislefebvre commented on #548
Thanks for the report, it probably comes from https://github.com/liip/LiipTestFixturesBundle/pull/44

[2019-11-13 23:31] #548 closed

[2019-11-13 23:33] alexislefebvre commented on #548
Please try last release of the Fixtures bundle: https://github.com/liip/LiipTestFixturesBundle/releases/tag/1.4.1

[2019-12-18 17:43] mathieu-ducrot opened #553 "Association not hydrated when using getter on entity load by fixtures"
Hello, i tried to find if this issue was already mentioned but i didn't found something that matchs my case.

I'm loading some entities with the `loadFixtureFiles` method, get the entity i would like to test from his repository.
Then i try to assert some getter from that entity that have association which are empty but should return data loaded by the fixtures.

### Preconditions

I know i'm on an

[2019-12-20 16:48] mathieu-ducrot commented on #553
To help you understand my issue and for a better testing situation i made a repository https://github.com/mathieu-ducrot/liip-load-fixture-files-test which recap the **Steps to reproduce** in a more detail way.

You can clone the repo and follow the README to view the process and the implementation that i have that cause my issue about association not hydrated.

I hope this will help you to unders

[2019-12-23 15:22] mathieu-ducrot commented on #553
I've added a test from travis aswell if you want to check it out. https://travis-ci.org/mathieu-ducrot/liip-load-fixture-files-test

[2020-01-08 15:09] LBT76240 opened #554 "Compatibility with Symfony 5.0"
I cannot update to Symfony 5.0 because this bundle requires symfony/framework-bundle  ^3.4 || ^4.1

[code]

[2020-01-10 16:36] alexislefebvre commented on #554
Thanks for the report. Feel free to open a PR.

The first step is to allow Symfony 5 in `composer.json`, see this example: https://github.com/liip/LiipTestFixturesBundle/pull/49/files

[2020-01-10 19:00] alexislefebvre commented on #554
See #555

[2020-01-20 01:21] ndench commented on #490
I've noticed a big performance drop when upgrading from Symfony 4.3 to 4.4. I'm unsure if it's related to this issue though. The main problem is a big increase in the memory usage of my tests. See symfony/symfony#35164 for more info.

[2020-01-24 00:37] #554 closed

[2020-01-28 15:55] ElNelyo commented on #487
Got same problem here ..
We got 302 redirection (due to Access Denied)

[2020-01-29 19:51] Voetloos opened #558 "[3.x-dev] Symfony 5.0 Form must be an instance of Client instead of KernelBrowser"
I upgrade my project to Symfony 5.0. Since this bundle is not yet updated I used the dev version. However, when running tests I get the following error:

`TypeError: Argument 1 passed to App\Tests\PagesTestCase::form() must be an instance of Symfony\Bundle\FrameworkBundle\Client, instance of Symfony\Bundle\FrameworkBundle\KernelBrowser given`

Argument 1 in this form is `$userClient`, which is cre

[2020-02-04 08:38] Voetloos commented on #558
I still had `Client` somewhere in my code, so it expected a client.

[2020-02-04 08:38] #558 closed

[2020-02-04 09:39] alexislefebvre commented on #558
Feel free to add the required changes in the bundle documentation, it could be a new section about Symfony 5, it could fit in the https://github.com/liip/LiipFunctionalTestBundle/blob/master/CHANGELOG.md

[2020-02-06 14:36] steffenbrand opened #559 "Question: 3.4.0 Release"
Hi, I'm currently using the bundle with dev-master (6024b27a6fac223def4a502fbf6d19775d279fb2) and Symfony 5. I'm not experiencing any problems, so I wanted to ask if there are still issues to solve that I'm not aware of. If not I would be very happy if you could tag a 3.4.0 ;) Thanks a lot for your bundle!

[2020-02-06 15:55] alexislefebvre commented on #559
We broke the support of `paratest` for this alpha release. Restoring it is harder than expected: https://github.com/liip/LiipFunctionalTestBundle/pull/557

---

On a side note, I suggest you to use the `3.4.0-alpha1` tag in composer instead of `dev-master`, so that it will always install the same version. :wink:

[2020-02-16 18:10] #559 closed

[2020-02-16 18:12] alexislefebvre commented on #559
Please try the last release: https://github.com/liip/LiipFunctionalTestBundle/releases/tag/4.0.0-alpha1

[2020-02-16 18:52] alexislefebvre commented on #514
Thanks for the report. It was fixed in https://github.com/liip/LiipFunctionalTestBundle/pull/551

[2020-02-16 18:52] #514 closed

[2020-02-16 21:35] steffenbrand commented on #559
4.0.0-alpha1 works fine with all our tests :+1:

[2020-02-19 19:46] alexislefebvre commented on #559
Thanks! Here is the stable release: https://github.com/liip/LiipFunctionalTestBundle/releases/tag/4.0.0

[2020-03-09 15:13] unlikenesses opened #565 "Call to undefined method"
### Preconditions

1. Bundle version 4.0
2. PHP Unit version 7.5.20
3. Symfony version 5.0.5
4. PHP version 7.3.13
5. My `.env.test` looks like this:

[code]

and the `test.sqlite` database has been created and has the correct schema.

### Steps to reproduce

After installing the bundle and running `./bin/phpunit`, I get this error:

[2020-03-18 14:40] javiereguiluz commented on #513
Closing as fixe by the linked PR. Thanks.

[2020-03-18 14:40] #513 closed

[2020-05-12 15:27] phillipsb22 opened #566 "Allow purging sqlite db with out dropping the existing db"
**Problem**
I am using a custom build sqlite database that causes issues when I drop and try rebuild here liip/test-fixtures-bundle/src/Services/DatabaseTools/ORMSqliteDatabaseTool.php:63

**Suggested solution**
I would like to implement an additional parameter that gets passed through to the load fixtures function that will allow the database to not be dropped but rather purged liip/test-fixtures

[2020-05-12 16:34] alexislefebvre commented on #566
Hello, all contributions are welcome!

Please note that test-fixtures-bundle has a different repository: https://github.com/liip/LiipTestFixturesBundle/issues

[2020-05-12 16:45] phillipsb22 commented on #566
Sorry I did not notice the repo I was in it was supposed to be in the Fixtures Bundle.
I will make the changes

[2020-05-15 15:58] #566 closed

[2020-06-25 13:49] emancypage commented on #423
Hi, I also experienced this conflict with DAMA and Liip bundles. I am using 1.9.1 version of the LiipFunctionalTestBundle.
I applied @alexislefebvre fix in my project and everything works correct.

[2020-07-14 22:31] alexislefebvre opened #571 "Restore “--prefer-lowest” job on Travis CI"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Revert 9a29e47fbfa3c498b8f509f3eeb6f84281e0a2da to restore this job.

**Describe alternatives you've considered**
-

**Additional context**
One or several dependencies break tests because of version too old/low.

[2020-07-19 20:42] #571 closed

[2020-08-05 05:55] tarjei commented on #535
Should this issue be closed?

[2020-08-05 10:33] alexislefebvre commented on #535
LiipFunctionalTestBundle and LiipTestFixturesBundle still define a `getContainer()` method. We don't have a solution yet.

[2020-09-26 10:17] Aerendir commented on #483
@gianiaz , did you solved the issue?

It seems that in tests, MonologBundle doesn't correctly set the `OutputInterface` and so no log is logged in the console.

A possible solution may be this: https://stackoverflow.com/a/31999172/1399706

But I'd like to make all autoconfigured as it is for `dev` and `test` envs...

[2020-09-28 06:39] gianiaz commented on #483
I'm sorry, too much time has passed and my memory is very limited.
In the meanwhile, my colleagues did upgrade to Symfony 5 and I don't know if the bug was still present.

[2020-09-30 09:17] Aerendir commented on #483
@gianiaz , ok, I understand...

Anyway, I'm on SF5, too and the problem is still there.

Maybe, if you can, you could ask one of your colleagues, asking him/her how did (s)he solved the issue... It would be very helpful... But if you can't, don't worry :)

[2020-10-02 20:59] elienykama opened #573 "Symfony 5 error during installation"
Hi,
When i try to install the bundle, i get an error with symfony 5.

`composer require liip/test-fixtures-bundle --dev`

Problem 1
    - Conclusion: don't install liip/test-fixtures-bundle 1.9.1
    - Conclusion: remove doctrine/cache 1.10.2
    - Conclusion: don't install doctrine/cache 1.10.2
    - doctrine/common 2.2.1 conflicts with doctrine/cache[1.10.2].
    - doctrine/common 2.2.2 conflict

[2020-10-02 21:09] #573 closed

[2020-12-05 18:59] #423 closed

[2021-01-11 12:18] alexislefebvre opened #575 "Support PHP8"
**Is your feature request related to a problem? Please describe.**
Add support of PHP8

**Describe the solution you'd like**
Allow PHP8 and add it in test matrix.

**Describe alternatives you've considered**
-

**Additional context**
Example PR: https://github.com/liip/LiipTestFixturesBundle/pull/80

[2021-01-13 11:31] #252 closed

[2021-01-13 13:11] lpassini-mz opened #576 "Use cache_db with paratest or fastest?"
Is it possible to do it? I tried without adding the path to the sqlite database but it didn't work as expected:

[code]

Maybe it's related to my other issue about cache_db and memory filesystem?

Thanks.

[2021-02-19 11:53] alexislefebvre commented on #348
We dropped the support of paratest because #560

[2021-02-19 11:53] #348 closed

[2021-02-19 11:56] alexislefebvre commented on #285
We dropped the support of paratest in #560

[2021-02-19 11:56] #285 closed

[2021-02-19 11:58] alexislefebvre commented on #576
We dropped the support of paratest in #560

[2021-02-24 21:17] #575 closed

[2021-04-24 18:44] mathieu-ducrot commented on #553
Well i'm back with some good news.

I had a similar case this week on a much recent version of  liip/test-fixtures-bundle and it made me realise the real problem.
**In fact it has nothing to deal with the bundle.**

The behavior that trigger the issue was due to :

- Doctrine first store the Inversed Entity (i.e Condition in the test) with 0 associations in his Identity Map while parsing the yml f

[2021-04-24 18:44] #553 closed

[2021-04-29 14:01] althaus commented on #487
Is it working for you if you follow the redirect?

[code]

I just got into the same issue. With auto-follow the client goes to the login page, gets authenticated and redirected back. So the tests succeeds, but this feels weird.

[2021-05-31 15:35] k20human opened #583 "Error with definition of method getContainer and Symfony 5.3"
### Preconditions
1. Bundle version : 4.3.1
2. Symfony version : 5.3

### Steps to reproduce
1. Create a test class that extends `Liip\FunctionalTestBundle\Test\WebTestCase`
2. Create a test
3. Run the test

### Expected result
1. Test run without error

### Actual result

An error occured:
[code]

It's due to this PR on SF 5.3 : https://github.com/symfony/symfony/pull/40366

I can propose a PR to

[2021-05-31 16:53] alexislefebvre commented on #583
Thanks for the detailed issue.

Removing `getContainer()` would break the bundle for Symfony < 5.3. Allowing only Symfony 5.3+ would be too restrictive IMHO.

Can we define the method only if it doesn't exist yet?

[2021-05-31 17:46] alexislefebvre commented on #583
I think to something like this: https://www.php.net/manual/fr/function.function-exists.php#117916

[code]

[2021-05-31 17:54] k20human commented on #583
Ok perfect, will test this tomorrow and do the PR ;)

Le lun. 31 mai 2021 à 19:46, Alexis Lefebvre ***@***.***> a
écrit :

[2021-06-01 09:42] k20human commented on #583
Ok, finally we can't use `function_exists` or `method_exists` inside class definition. So i use `__call` method to avoid BC break.
I keep usage of old method `getContainer` because the new one of `KernelTestCase` call `bootKernel` which set `static::$booted = true;` and it as some side effects

PR here : #584

[2021-06-01 12:30] #583 closed

[2021-06-01 12:34] gmponos opened #586 "Double container instances is causing an overhead"
Hello there,

According to [symfony official documentation](https://symfony.com/doc/current/testing.html#your-first-functional-test) in order to test a controller you have to initialize a client like this:

[code]

And this is what I've been doing.

after creating my client I used to do something like this:

[code]

Then today I reached my memory limit and dived little deeper into this bundle. I r

[2021-08-09 17:35] craigh opened #589 "WebTestCase and FixturesTrait define the same property ($containers)"
I am trying to upgrade my app to Symfony 5.3. Previously this worked in 5.2.11 with functional-test-bundle 4.4.0 and test-fixtures-bundle 1.11.2. After upgrading to most recent versions of all, I get the error below:

`PHP Fatal error:  Liip\FunctionalTestBundle\Test\WebTestCase and Liip\TestFixturesBundle\Test\FixturesTrait define the same property ($containers) in the composition of App\Tests\Ab

[2021-08-09 17:38] craigh commented on #589
also upgraded in this process:
 - Upgrading phpunit/phpunit (9.5.6 => 9.5.8)
 - Upgrading symfony/phpunit-bridge (v5.3.3 => v5.3.4)

[2021-08-10 12:31] alexislefebvre commented on #589
Please try with LiipTestFixturesBundle 2 : `composer require --dev liip/test-fixtures-bundle:^2.0.0-RC1` The upgrade guide is [here](https://github.com/liip/LiipTestFixturesBundle/blob/2.x/UPGRADE-2.0.md).

[2021-08-10 13:12] craigh commented on #589
I have upgraded to 2.0.0-RC1 and changed my code and it seems to work.

Although - I'm not sure upgrading is an actual solution for the existing versions.

Trying to reach you on slack. thanks

[2021-08-12 00:01] alexislefebvre commented on #589
LiipTestFixturesBundle v1 uses a trait, which cause conflicts with the test bundle. LiipTestFixturesBundle v2 doesn't use a trait, it's easier to use both bundles. So yes it doesn't fix the issue on current version but it will avoid it in the long run.

[2021-08-19 18:55] tperunsky opened #590 "Call to deprecated method isMasterRequest() when isMainRequest() returns false"
Relevant piece of code in `\Liip\FunctionalTestBundle\Validator\DataCollectingValidator`
[code]

The method `onKernelRequest()` correctly uses `$event->isMainRequest()` if the method exists, however the way the condition is constructed, the elseif condition is checked when `isMainRequest()` returns false. As a result, the deprecated `isMasterRequest()` method is called unnecessarily.

### Precondi

[2021-08-20 14:14] alexislefebvre commented on #590
Thanks for the detailed report, do you have an idea to fix it?

[2021-08-20 14:18] alexislefebvre commented on #590
Please have a look at #591

[2021-08-20 15:48] #590 closed

[2021-12-08 21:10] biozshock opened #592 "Regression in getContainer with symfony 5.3"
After the fix #584 there is no possibility to test `runCommand` with `$reuseKernel = true` when using symfony 5.3+.

### Preconditions
1. Use symfony 5.4
2. Use `runCommand` test.

When there is a `$this->getContainer()` call before the `runCommand` it's not possible to reuse same kernel.
In the following code there is no possibility to reuse kernel created by `getContainer`.

[code]

[2021-12-13 20:22] alexislefebvre commented on #592
It looks like it's the same issue as in https://github.com/symfony/symfony/issues/44253

[2021-12-16 18:20] gnat42 commented on #586
@Jean85 is it possible to get the container inside the app? The reason being is we've successfully setup an application so that we've created a decorated service in the test environment, but we want to configure its responses based a scenario (this service is an API client so we don't want actual requests going to the network). Is it possible to get access to that mock service from the app to say,

[2021-12-16 20:06] Jean85 commented on #586
With Symfony 5.3 and further, the container of the client is the same that you get from the new getContainer native method, so if you rely on that (and not the one from this package) you can do it.

Otherwise, you could always call getContainer on the client itself... But if the service gets instantiated again due to a kernel reboot you would be out of luck.

That's why I circumvent these kind of

[2021-12-16 22:55] gnat42 commented on #586
Thanks @Jean85 yeah we couldn't figure out how to get the container from the client reliably. I went the same way and just put some public static methods on the mock service so that its 'configurable' and that did the trick as well.

[2022-01-07 11:38] #592 closed

[2022-01-07 14:24] alexislefebvre commented on #535
It has been fixed in https://github.com/liip/LiipTestFixturesBundle/pull/26

LiipTestFixturesBundle 2.x doesn't use a trait so there will be less conflicts.

[2022-01-07 14:24] #535 closed

[2022-01-17 17:14] mikysan opened #594 "4.5 WebTestCase $environment BC break"
### Preconditions
1. PHP 8.0
2. Symfony 5.4
2. liip/functional-test-bundle 4.5

### Steps to reproduce
1. rename Symfony test environment to testing
2. create a test like following
[code]
### Expected result
The test should pass or at least should be failing with a proper error message or deprecation warning

### Actual result
1. test fail with `You have requested a non-existent parameter "secret"

[2022-01-17 17:21] mikysan opened #595 "Can't overwrite WebTestCase $env static property"
### Preconditions

1. PHP 8.0
2. Symfony 5.4
3. liip/functional-test-bundle 4.5

### Steps to reproduce

1. rename Symfony test environment to testing
2. create a test like following
[code]

### Expected result
The test should pass

### Actual result
test fail with `You have requested a non-existent parameter "secret".` error message.

### Proposed solution
Replace `self::$env` with `static::$env`

[2022-01-27 15:22] magnetik opened #597 "Symfony 6 compatibility"
Currently the bundle is compatible only with Symfony 4 & 5.

Symfony 6 has been out for a few weeks now.

I'm not sure if there is a lot of work to be done.

[2022-05-13 12:23] alexislefebvre opened #602 "Use issue form"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Replace GitHub templates with forms.

See this example: https://github.com/NVIDIA/open-gpu-kernel-modules/pull/127

**Describe alternatives you've considered**
.

**Additional context**
.

[2022-05-18 11:44] alexislefebvre opened #606 "Restore test with max_query_count: 1"
One test of `AllowedQueriesExceededException` and some other things were broken on the main branch, I fixed these issues in another PR: #604 I'm not happy with the change of `max_query_count` from `1` to `0` in the internal tests but if it allow to have a version compatible with Symfony 6, it will be worth it.

_Originally posted by @alexislefebvre in https://github.com/liip/LiipFunctionalTestBund

[2022-06-21 21:01] alexislefebvre commented on #597
Please try the alpha release: https://github.com/liip/LiipFunctionalTestBundle/releases/tag/4.6.0-alpha1

[2022-06-23 15:51] alexislefebvre commented on #597
Please add a comment here if you have an issue with the last release (see the previous comment).

[2022-10-04 22:50] #607 closed